<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <adaptiveRules>
      <macros type="Sitecore.Strategy.Adaptive.Config.MacroConfiguration, Sitecore.Strategy.Adaptive">
        <selectors hint="list:AddMacroSelectorConfig">
          <!-- 
            This configuration only applies to dependency items 
            based on the template "Contact Facet Member" 
           -->
          <contactFacetMemberTemplate type="Sitecore.Strategy.Adaptive.Config.TemplateBasedMacroSelectorConfig, Sitecore.Strategy.Adaptive">
            <templateId>{892E04B2-1349-42B3-9755-77DDFF995055}</templateId>
            <operatorSelectors hint="list:AddOperatorSelector">
              <!-- 
                If the dependency item has children then use a tree macro 
                that displays the children of the item identified by the 
                property "operatorsFolderId"
               -->
              <selectFromChildren type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Operators.FromChildrenOperatorSelector, Sitecore.Strategy.Adaptive">
                <operatorsFolderId>{E9283766-699F-4A05-8321-E9B8E30F497E}</operatorsFolderId>
              </selectFromChildren>
              <!--
                If the dependency item does not have children then use 
                the operator macro determined by the type specified in 
                a field on the dependency item. The field is identified 
                by the property "fieldId"
               -->
              <selectFromDataType type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Operators.FromDataTypeOperatorSelector, Sitecore.Strategy.Adaptive">
                <dataTypeResolver type="Sitecore.Strategy.Adaptive.DataTypeResolvers.FieldBasedDataTypeResolver, Sitecore.Strategy.Adaptive">
                  <fieldId>{F5154187-5C68-4BAC-B4F2-AE34B38001E3}</fieldId>
                </dataTypeResolver>
              </selectFromDataType>
            </operatorSelectors>
            <valueSelectors hint="list:AddValueSelector">
              <!-- 
                If the dependency item has children then use a tree macro 
                that displays the children of the dependency item 
               -->
              <selectFromChildren type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Values.FromChildrenValueSelector, Sitecore.Strategy.Adaptive" />
              <!--
                If the dependency item does not have children then use 
                the value macro determined by the type specified in 
                a field on the dependency item. The field is identified 
                by the property "fieldId"
               -->
              <selectFromDataType type="Sitecore.Strategy.Adaptive.MacroSelectors.ItemBased.Values.FromDataTypeValueSelector, Sitecore.Strategy.Adaptive">
                <dataTypeResolver type="Sitecore.Strategy.Adaptive.DataTypeResolvers.FieldBasedDataTypeResolver, Sitecore.Strategy.Adaptive">
                  <fieldId>{F5154187-5C68-4BAC-B4F2-AE34B38001E3}</fieldId>
                </dataTypeResolver>
              </selectFromDataType>
            </valueSelectors>
          </contactFacetMemberTemplate>
        </selectors>
      </macros>
    </adaptiveRules>
  </sitecore>
</configuration>