<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <contactFacets type="Sitecore.Strategy.Contacts.DataProviders.ContactFacetDataProvider, Sitecore.Strategy.Contacts" />
    </dataProviders>
    <databases>
      <database id="master">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/contactFacets">
            <disableGroup>delete</disableGroup>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.Initialize.UpdateIDTable, Sitecore.Strategy.Contacts" />
      </initialize>
      <contactFacetDataProvider.isHandled>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.IsHandled.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.isHandled>
      <contactFacetDataProvider.getChildIDs>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetChildIDs.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetChildIDs.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getChildIDs>
      <contactFacetDataProvider.getItemDefinition>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemDefinition.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemDefinition.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemDefinition>
      <contactFacetDataProvider.getParentID>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetParentID.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetParentID.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getParentID>
      <contactFacetDataProvider.getItemVersions>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemVersions.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemVersions.AddDefaultVersion, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemVersions>
      <contactFacetDataProvider.getItemFields>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemFields.CheckIfHandled, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.DataProviders.GetItemFields.DefaultProcessor, Sitecore.Strategy.Contacts" />
      </contactFacetDataProvider.getItemFields>
      <getFacetMemberValues>
        <processor type="Sitecore.Strategy.Contacts.Pipelines.GetFacetMemberValues.GetMemberType, Sitecore.Strategy.Contacts" />
        <processor type="Sitecore.Strategy.Contacts.Pipelines.GetFacetMemberValues.GetBooleanValues, Sitecore.Strategy.Contacts" />
      </getFacetMemberValues>
    </pipelines>
  </sitecore>
</configuration>